.main {
  z-index: 1;
  position: absolute;
  display: flex;
  padding: 100px 50px 50px;
  background-color: rgba(0, 0, 0, 0.858);
}

.main__title {
  color: bisque;
  font-size: 3rem;
  align-self: center;

  margin-top: 0;
  margin-bottom: 10px;
}

.main__info {
  padding-bottom: 0;
}

.main__bio {
  color: white;
  font-size: larger;
  z-index: 1;
  display: flex;
}

.main__headshot {
  max-width: 400px;
  max-height: 400px;
  margin-inline-end: 4rem;
  border-radius: 5px;
}

.main__skills-title {
  display: flex;
  margin: 0;
}

.main__skills-tab {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: rgb(11, 11, 11);
  background-color: bisque;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1.2px;
  border: rgb(255, 255, 255) solid 2px;
  box-shadow: 5px 5px 8px rgb(246, 246, 245);
  padding: 10px 15px;
}

.main__skills-tab:hover {
  transform: translateY(-5px) scale(1.1); /* Scale button slightly */
  background-color: rgb(29, 202, 255); /* Change color on hover */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: black;
}

.main__skills-tab::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.main__tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  color: white;
}

.main__tab-list {
  padding: 0;
}

.main__tab-contents {
  display: none;
}

.main__tab-contents.active-tab {
  display: block;
}

@media screen and (max-width: 850px) {
  .main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main__headshot {
    margin-bottom: 30px;
    margin: 0;
  }

  .main__skills-title {
    justify-content: center;
    flex-direction: column;
  }
  .main__skills-tab {
    justify-content: center;
  }
}
